body {
    font-family: arial;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 98vw;
}
#medium {
    display: flex;
    align-items: center;
    padding-left: 10vw;
    font-family: 'Times New Roman', Times, serif;
}
#medium a, #medium p{
    color: black;
    text-decoration: none;
}
#medium i {
    font-size: 2em;
    padding-right: 0.2em;
}
input {
    border-radius: 15px;
}
#nav-bar {
    display: flex;
    align-items: center;
    padding-right: 7em;
}
nav i{
    margin: 0 0.5rem;
}
#t-button {
    background-color: orangered;
    width: 1.2em;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 0.2em;
    margin-left: 0.5em;
}
#t-button a{
    text-decoration: none;
    color: white;
}
.icon {
    color: grey;
}
#first-section {
    display: flex;
    background-color: rgb(244, 244, 244);
    padding-top: 6em;
}
#left-part{
    border-right: 1px solid grey;
    width: 100%;
    padding-right: 4em;
}
#padding-left {
    padding-left: 10vw;
}
#header-left {
    display: flex;
    justify-content: start;
    padding-top: 2em;
    border-bottom: 1px solid rgb(186, 186, 186);
}
#header-left a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
#header-left p {
    padding: 0 0.2em;
}
#header-left p a{
    color: grey;
}
#header-left p:hover {
    border-bottom: 2px solid;
    padding-bottom: 1em;
    margin-bottom: 0;
}
#header-left p:hover a{
    color: black;
}
#header-left :nth-child(2){
    margin-left: 1em;
}
.articles {
    display: flex;
    padding-top: 2em;
}
.article-title {
    display: flex;
    align-items: center;
    margin-bottom: -1em;
    margin-bottom: -1.5em;
    
}
.article-title a{
    text-decoration: none;
    color: black;
}
.article-title i {
    font-size: 1.5em;
    margin-top: -0.5em;
}
.article-title p{
    padding-left: 0.5em;
    font-weight: bold;
    font-size: 0.8em;
    
}
.articles img{
    height: 20vh;
    width: 13vw;
    object-fit: cover;
    padding-left: 1em;
}
.article-text {
    width: 100%;
}
.article-text h2 {
    margin-bottom: 0;
}
.article-text h2 a{
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}
.article-text p {
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 26em;
}
.article-text p a{
    color: grey;
    font-size: 0.8em;
    text-decoration: none;
}
.article-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8em;
    color: grey;
    margin-top: -1em;
}
.afooter-info {
    display: flex;
    justify-content: space-evenly;
}
.afooter-info p {
    padding-right: 0.5em;
}
.afooter-info p:nth-child(5) a{
    text-decoration: none;
    color: grey;
    background-color: rgb(226, 226, 226);
    padding: 0.7em 1.1em;
    border-radius: 50px;
}
.afooter-icon {
    display: flex;
}
.afooter-icon a{
    padding-right: 1em;
    color: black;
    font-size: 1.2em;
}
#right-part {
    text-align: center;
    width: 38%;
    padding-left: 4vw;
    padding-right: 7vw;
    margin-left: 5vw;
}
#twitter {
    border-bottom: 1px solid rgb(186, 186, 186);
}
#logos {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logos i:nth-child(1){
    font-size: 2em;
}
#logos i:nth-child(2){
    font-size: 1.2em;
    color: grey;
}
#logos :nth-child(3) {
    color: #1DA1F2;
    font-size: 1.2em;
}
#twitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
}
#twitter-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 50px;
    width: 11em;
    text-decoration: none;
}
#twitter-link i{
    color:  #1DA1F2;
    padding-right: 0.5em;
    font-size: 1.2em;
}
#twitter-link p {
    margin: 1em;
    font-size: 0.7em;
}
#twitter-link p a{
    text-decoration: none;
    color: black;
}
#maybe {
    font-size: 0.8em;
    margin-bottom: 2em;
}
#maybe a{
    color: grey;
}
#topics {
    text-align: left;
}
#topics h3{
    margin-top: 3em;
    font-size: 0.9em;
}
#topic-list {
    display: flex;
    flex-wrap: wrap;
}
#topic-list p {
    padding: 0.7em 1.1em;
    background-color: rgb(230, 230, 230);
    border-radius: 50px;
    margin: 0 0.5em 0.8em 0;
    font-size: 0.8em;
}
#topic-list p a {
    text-decoration: none;
    color: black;
}
#follow {
    text-align: left;
}
#follow h3 {
    margin-top: 2em;
    font-size: 1em;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}
.tag {
    display: flex;
    align-items: center;
}
.tag img{
    width: 2.7em;
    height: 2.7em;
    border-radius: 50px;
    margin-right: 1em;
}
.profile-text {
    text-align: start;
    margin: 0;
}
.profile-text h4 {
    margin-bottom: 0.5em;
    font-size: 0.9em;
}
.profile-text h4 a {
    text-decoration: none;
    color: black;
}
.profile-text p {
    color: grey;
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.profile-text p a {
    text-decoration: none;
    color: grey;
}
.follow-button {
    border: 1px solid grey;
    border-radius: 50px;
    padding: 0.5em 1em;
    font-size: 0.8em;
}
.follow-button a {
    text-decoration: none;
    color: black;
}
#saved {
    text-align: left;
}
#saved h3 {
    margin-bottom: 1em;
}
#saved img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50px;
}
.saved-profile {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.saved-profile p {
    margin-left: 0.5em;
    font-size: 0.8em;
}
.saved-profile p a {
    text-decoration: none;
    color: black;
}
.saved-title {
    margin-bottom: 0;
    margin-top: 0;
}
.saved-title a {
    text-decoration: none;
    color: black;
}
#saved-list p {
    font-weight: bold;
}
.note {
    display: flex;
    align-items: center;
    color: grey;
    font-size: 0.8em;
}
.note i{
    margin-left: 2em;
}
#see-all p{
    color: green;
    font-size: 0.8em;
}
#see-all a{
    text-decoration: none;
    color: green;
}
#right-footer {
    display: flex;
    flex-wrap: wrap;
}
#right-footer p {
    padding-right: 1.5em;
    margin-bottom: 1em;
    margin-top: 0;
}
#right-footer a {
    text-decoration: none;
    color: grey;
}
#sticky {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 4em;
    height: 90vh;
}